@charset "UTF-8";
/* variable pour la grille */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  font-size: 16px; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/**********************FRAMEWORK********************************/
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: bold;
  font-family: "Brush Script MT",cursive,Geneva,Tahoma,Verdana,sans-serif; }

h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small, .sub {
  /*****il manque la question avec la classe du même effet****/
  font-size: 80%;
  color: grey; }

p {
  /**heritage du body a definir**/
  margin-bottom: 40px; }

ins, u {
  text-decoration: underline; }

abbr {
  font-weight: bold; }

strong {
  font-weight: bold; }

del {
  text-decoration: line-through; }

mark {
  background-color: yellow; }

blockquote {
  font-style: italic;
  margin-bottom: 30px; }
  blockquote:before, blockquote:after {
    content: '"';
    font-size: 350%;
    font-style: italic; }

code {
  background-color: #afd0d6;
  padding: 30px;
  opacity: 0.8; }

pre {
  padding: 10px;
  background-color: grey;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 10px; }

kbd {
  background-color: black;
  color: yellow;
  padding: 10px;
  margin: 10px;
  border-radius: 10px; }

/***marche pas **/
ul {
  list-style: upper-roman; }
  ul.square {
    list-style: square; }
  ul.noDecoration {
    list-style: none; }

/**************/
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.justify {
  text-align: justify; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

/***
*
*
*CLASSE POUR LES ALERTES
*
*
*********/
.btn {
  text-align: center;
  width: 150px;
  border-radius: 5px;
  background-color: #3b93db;
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  display: inline-block;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 30px;
  text-shadow: 1px 1px 1px black; }
  .btn:hover {
    opacity: 0.8; }
  .btn:active {
    background-color: #1b6489; }
  .btn > a {
    text-decoration: none;
    color: white; }

.btn-lg {
  width: 230px;
  font-size: 120%;
  padding: 10px; }

.btn-sm {
  width: 120px;
  font-size: 72%; }

.btn-blue {
  background-color: #3b93db; }

.btn-error {
  background-color: #d33737; }

.btn-success {
  background-color: #13ad25; }

.btn-warning {
  background-color: #f2863e; }

.btn-flat {
  border-radius: none;
  border: none;
  text-shadow: none; }

.btn-extra-large {
  width: 100%; }

.btn-fancy {
  background: -webkit-linear-gradient(red, blue);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, blue);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, blue);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, blue);
  /* Standard syntax */ }

.alert {
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  opacity: 0.8;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black; }

.alert-info {
  background-color: #3b93db; }

.alert-error {
  background-color: #d33737; }

.alert-success {
  background-color: #13ad25; }

.alert-warning {
  background-color: #f2863e; }

/**********
*
* CLASSE POUR LES HEADERS
*
*
******************/
.header {
  text-align: center;
  margin-bottom: 25px; }
  .header > h1 {
    text-align: center; }

/****************
*
*  JUMBOTRON HEADING
*
*
******************/
.jumbotron {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #3071a9;
  padding-top: 60px;
  padding-bottom: 60px; }
  .jumbotron > h1 {
    font-size: 45px; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.last {
  margin: 0; }

.container {
  width: 100%; }

.main {
  width: 6.5%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%;
  margin-left: 8.5%; }

.span-1 {
  width: 6.5%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%; }

.span-2 {
  width: 13%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%; }

.span-3 {
  width: 19.5%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%; }

.span-4 {
  width: 26%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%; }

.span-5 {
  width: 32.5%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%; }

.span-6 {
  width: 39%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%; }

.span-7 {
  width: 45.5%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%; }

.span-8 {
  width: 52%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%; }

.span-9 {
  width: 58.5%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%; }

.span-10 {
  width: 65%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%; }

.span-11 {
  width: 71.5%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%; }

.span-12 {
  width: 78%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%; }

.offset-1 {
  margin-left: 8.5%; }

.offset-2 {
  margin-left: 17%; }

.offset-3 {
  margin-left: 25.5%; }

.offset-4 {
  margin-left: 34%; }

.offset-5 {
  margin-left: 42.5%; }

.offset-6 {
  margin-left: 51%; }

.offset-7 {
  margin-left: 59.5%; }

.offset-8 {
  margin-left: 68%; }

.offset-9 {
  margin-left: 76.5%; }

.offset-10 {
  margin-left: 85%; }

.offset-11 {
  margin-left: 93.5%; }

.offset-12 {
  margin-left: 102%; }

/*# sourceMappingURL=style.css.map */
